.layers{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.layers .layeritem{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 2;
}
.layers .layeritem .imgwrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow:hidden;
}
.layers .layeritem img{
	width: 100%;
	height: auto;
	visibility: hidden;
}
.layers .layeritem img.animated{
	visibility:visible;
}
.layers .layeritem .imgwrapper.animated img{
	visibility:visible;
}
.layers .nextpage{
	height: 100%;
	z-index: 99999;
}
.layers .pageelse{
	height: 100px;
	bottom: 80px;
	z-index: 99999;
}


/*.layers .p1back{
	height: 100%;
}
.layers .p1back img{
	height: 100%;
}


.layers .p1words{
	top: 30px;
}
.layers .p1people{
	bottom: 30px;
}
.layers .p1girl{
	bottom: 30px;
}
.layers .p1meibao{
	top: 50px;
}
.layers .p1lovef{
	bottom: 30px;
}*/


.layers .p0peopleline{
	bottom: 10px;
}
.layers .p0peop1{
	bottom: 10px;
	z-index: 4;
}
.layers .potousha{
	bottom: 10px;
}
.layers .p0yarn{
	bottom: 10px;
}
.layers .p0words1{
	top: 10px;
}
.layers .p0words{
	top: 10px;
}
.layers .p0lovef{
	bottom: -20px;
	right: -160px;
}
.layers .p0shadow{
	bottom: 10px;
	z-index: 2;
}

.layers .p0back{
	height: 100%;
	z-index: 1;
}
.layers .p0back img{
	width: 100%;
	height: 100%;
}




.layers .p2back{
	height: 100%;
	z-index: 1;
}
.layers .p2back img{
	height: 100%;
}
.layers .p2light{
	height: 100%;
	z-index: 99;
}
.layers .p2light .light{    
    cursor:pointer;    
    position: absolute;    
    left: -180px;    
    bottom:0px;    
    width: 180px;    
    height: 100%;    
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));    
    background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));    
    transform: skewx(-25deg);    
    -o-transform: skewx(-25deg);    
    -moz-transform: skewx(-25deg);    
    -webkit-transform: skewx(-25deg);    
}



.layers .p2words{
	top: 20px;
}
.layers .p2lixiang{
	top: 35px;
}
.layers .p2boyline{
	bottom: 10px;
}
.layers .p2boy{
	bottom: 10px;
	z-index: 3;
}
.layers .p2shadow{
	bottom: 10px;
	z-index: 1;
}
.layers .p2char{
	z-index: 2;
	bottom: 10px;
} 



.p2alarm{
	bottom:10px; 
}
.p2apple{
	bottom:10px; 
}
.p2dreamwrap{
	bottom:10px; 
}
.p2dream{
	bottom:10px; 
}
.p2litgirl{
	bottom:10px; 
}
.p2radio{
	bottom:10px; 
}
.p2bus{
	bottom:10px; 
}
.p2lovef{
	bottom:10px; 
}
.p2stayf{
	bottom:10px; 
}
.p2lsfkine{
	bottom:10px; 
}


.layers .p4back{
	height: 100%;
}
.layers .p4back img{
	height: 100%;
}
.layers .p4buliding{
	bottom: 30px;
}
.layers .p4package{
	bottom: 20px;
}
.layers .p4lover{
	bottom:20px; 
}
.layers .p4words{
	top: 10px;
}
.layers .p4bags{
	bottom: 20px;
}
.layers .p4lovef{
	bottom:0px;
}



.layers .p5back{
	height: 100%;
}
.layers .p5back img{
	height: 100%;
}
.layers .p5people{
	bottom: 0px;
}
.layers .p5lines{
	bottom: 0px;
}
.layers .p5lovef{
	bottom: 0px;
}




.layers .p6back{
	height: 100%;
}
.layers .p6back img{
	height: 100%;
}
.layers .p6people{
	bottom: 10px;
}
.layers .p6words{
	top: 10px;
}
.layers .p6litgirl{
	bottom: 10px;
}
.layers .p6lines{
	height: 100%;
}
.layers .p6lines img{
	height: 100%;
}
.layers .p6lovef{
	bottom: 10px;
}

.layers .p7back{
	height: 100%;
}
.layers .p7back img{
	height: 100%;
}
.layers .p7people{
	bottom: 0px;
}
.layers .p7words{
	top: 10px;
}
.layers .p7ball{
	top: 10px;
}
.layers .p7lovef{
	bottom: 10px;
}


.layers .p8back{
	height: 100%;
}
.layers .p8back img{
	height: 100%;
}
.layers .p8hand{
	bottom: 0px;
}
.layers .p8words{
	z-index: 99;
	top: 10px;
}
.layers .p8handhert{
	z-index: 8;
	bottom: 10px;
}
.layers .p8lovef{
	bottom:10px;
}
.layers .p8hert.full{
	height: 100%;
	z-index: 5;
	top: 10px;
}
.layers .p8hert.full .imgwrapper{
	height: 100%;
}
.layers .p8hert.full .imgwrapper img{
	height: 100%;
}
.layers .p8cloud{
	z-index: 2;
	top: 10px;
}


.layers .p9back{
	height: 100%;
}
.layers .p9back img{
	height: 100%;
}
.layers .p9airplan{
	top: 10px;
}
.layers .p9words{
	z-index: 99;
	top: 10px;
}
.layers .p9hert{
	z-index: 2;
	top: 10px;
}
.layers .p9lovef{
	bottom: 30px;
}
.layers .p9cloud{
	z-index: 3;
	top: 10px;
}
.layers .p9title{
	bottom: 10px;
}
.layers .p9event{
	height: 100%;
}
.layers .p9words .clickevent1{
	position: absolute;
	width: 44.1%;
	height: 100px;
	left:17.6%;
	top:6.5%;
	z-index: 998;
	border-radius: 100px;
}
.layers .p9words .clickevent2{
	position: absolute;
	width: 44.1%;
	height: 100px;
	left:11.7%;
	top:52.7%;
	z-index: 998;
	border-radius: 100px;
}
.layers .p9words .clickevent3{
	position: absolute;
	width: 47.1%;
	height: 100px;
	left:50%;
	top:31.8%;
	z-index: 998;
	border-radius: 100px;
}
.layers .p9words a{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100px;
}



.layers .otherback{
	height: 100%;
}
.layers .otherback img{
	height: 100%;
}
.layers .storyback{
	height: 100%;
}
.layers .storyback img{
	height: 100%;
}
.layers .storywords{
	top: 10px;
}
.layers .storywords1{
	top: 80px;
}
.layers .storyhert{
	top: 80px;
}
.layers .storyinput{
	height: 100%;
}
.layers .storyinput .inputer{
	position: absolute;
	height: 6.2%;
	width: 44.1%;
}
.layers .storyinput .inputer input{
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
	font-family: "楷体";
	font-size: 18px;
	color: white;
	outline:none;
	background-color: transparent;
}
.layers .storyinput .title{
	left: 29.4%;
	top: 28.8%;	
}
.layers .storyinput .content{
	left: 29.4%;
	top: 38%;	
}
.layers .storyinput .content textarea{
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-family: "楷体";
	font-size: 18px;
	color: white;
	line-height: 20px;
	background-color: transparent;
}
.layers .storyinput .storyinputsub{
	position: absolute;
	left:43%;
	top: 45.6%;
	width: 14.7%;
	height: 4.3%;
	border-radius: 5px;
}
.layers .storyinput .storyinputsub a{
	display: block;
	width: 100%;
	height: 100%;
}
.layers .storyinput .inputer input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
.layers .storyinput .inputer input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
.layers .storyinput .inputer input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
.layers .storyinput .inputer input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
.layers .storyinput .content textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
.layers .storyinput .content textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
.layers .storyinput .content textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
.layers .storyinput .content textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}


.layers .Submitedback{
	height: 100%;
}
.layers .Submitedback img{
	height: 100%;
}
.layers .stprize {
	top: 60px;
}
.layers .Submithert{
	top: 30px;
}
.layers .stwords{
	top: 30px;
}
.layers .subed{
	top: 70px;
}
.layers .togetprize{
	height: 100%;
}
.layers .togetprize a{
	display: block;
	width: 100%;
	height: 100%;
}







.layers .getprizeback{
	height: 100%;
}
.layers .getprizeback img{
	height: 100%;
}
.layers .getprizprize{
	top: 100px;
}
.layers .getprizeinput{
	height: 100%;
}
.layers .getprizeinput .inputer{
	position: absolute;
	height: 6.2%;
	width: 44.1%;
}
.layers .getprizeinput .inputer input{
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
	font-family: "楷体";
	font-size: 18px;
	color: white;
	outline:none;
	background-color: transparent;
}
.layers .getprizeinput .inputer input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
.layers .getprizeinput .inputer input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
.layers .getprizeinput .inputer input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
.layers .getprizeinput .inputer input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
.layers .getprizeinput .contacter{
	left: 29.4%;
	top: 18%;	
}
.layers .getprizeinput .phone{
	left: 29.4%;
	top: 28.5%;	
}
.layers .getprizeinput .email{
	left: 29.4%;
	top: 39.5%;	
}
.layers .getprizeinput .getprizesubmit{
	position: absolute;
	left:43%;
	top: 47.6%;
	width: 14.7%;
	height: 4.3%;
}
.layers .getprizeinput .getprizesubmit a{
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	font-size: 16px;
	color: white;
	font-family: "楷体";
}

.layers .storyshowback{
	height: 100%;
}
.layers .storyshowback img{
	height: 100%;
}
.layers .storyshowlist{
	top: 90px;
}
.layers .storyshowpage{
	
}
#titlelist{
	position: absolute;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
}
#titlelist .cover{
	width:82%;
	height: 27.2%;
	position: absolute;
	top: 45%;
	left: 14.7%;
	overflow:scroll;
	overflow-x: hidden;
}
#titlelist .cover ul{
	width: 100%;
	overflow: hidden;
}
#titlelist .cover ul li{
	width: 50%;
	float: left;
	height:40px;
	color: black;
	list-style: none;
	text-align: left;
	text-indent:2.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:inherit;
}
@media only screen and (max-width: 376px)
{
	#titlelist .cover ul li{
		height:35px;
	}
}
@media only screen and (max-width: 322px)
{
	#titlelist .cover ul li{
		height:30px;
	}
}
#titlelist .cover ul li a{
	text-decoration: none;
	color: #676767;
	font-family: "楷体";
	font-size: 16px;
}





.layers .focusback{
	height: 100%;
}
.layers .focusback img{
	height: 100%;
}
.layers .focuswords{
	top:20px;
}
.layers .focuscode{
	top: 80px;
}




.layers .page1 img{
	position: absolute;
	left:38.2%; 
	top:80.5%;
	width: 50px;
	height: 50px;
}
.layers .page2 img{
	margin-top: 80px;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 60px;
}
.layers .page3 img{
	position: absolute;
	left:20.5%; 
	top:90.4%;
	width: 50px;
	height: 50px;
}
.layers .page4 img{
	position: absolute;
	left:76.4%; 
	top:90.3%;
	width: 50px;
	height: 50px;
}
.layers .page5 img{
	position: absolute;
	left:75%; 
	top:80.2%;
	width: 50px;
	height: 50px;
}
.layers .page6 img{
	position: absolute;
	left:76.5%; 
	top:64.5%;
	width: 50px;
	height: 50px;
}
.layers .page7 img{
	position: absolute;
	left:76%; 
	top:65.5%;
	width: 50px;
	height: 50px;
}
.layers .pageelse img{
	margin-top: 100px;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 35px;
}
/*@media only screen and (max-width: 380px)
{
	.layers .page1 img{
		margin-top: 70px;
		margin-left: -60px;
	}
	.layers .pageelse img{
		margin-top: 100px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 35px;
	}
	.layers .page3 img{
		margin-top: 100px;
		width: 50px;
		height: 50px;
		float: left;
		margin-left: 70px;
	}
	.layers .page4 img{
		margin-top: 120px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 35px;
	}
	.layers .page5 img{
		margin-top: 55px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 55px;
	}
	.layers .page6 img{
		margin-top: 100px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 42px;
	}
	.layers .page7 img{
		margin-top: 80px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 44px;
	}
}
@media only screen and (max-width: 330px)
{
	.layers .page1 img{
		margin-top: 80px;
		margin-left: -50px;
	}
	.layers .pageelse img{
		margin-top: 100px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 35px;
	}
	.layers .page3 img{
		margin-top: 110px;
		width: 50px;
		height: 50px;
		float: left;
		margin-left: 60px;
	}
	.layers .page4 img{
		margin-top: 126px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 20px;
	}
	.layers .page5 img{
		margin-top: 70px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 40px;
	}
	.layers .page6 img{
		margin-top: 153px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 30px;
	}
	.layers .page7 img{
		margin-top: 137px;
		width: 50px;
		height: 50px;
		float: right;
		margin-right: 25px;
	}
}*/

.layers .pagesub{
	position: absolute;
	top:83.7%;
	left:8.8%;
	width: 50px;
	height: 50px;
}
#showimg{
	visibility: visible;
}

.layers .dainzhan{
	height: 100%; 
}
.layers .pagedz{
	height: 100%;
}
.layers .pagedz img{
	height: 100%;
}
.layers .dainzhan .dz{
	position: absolute;
	width: 100%;
	top: 74%;
	height: 3.4%;
}
.layers .dainzhan .dz .dd{
	width: 160px;
	height: 100%;
	margin: 0 auto;
	color: white;
	border-radius: 5px;
}
.layers .subject{
	height: 100%;
}
.layers .content{
	height: 100%;
}
.layers .subject div.val{
	position: absolute;
	top:12%;
	left: 21%;
	width: 61.7%;
	height: 8%;
	text-align: left;
	color: #676767;
	font-size: 20px;
	font-family: "楷体";
	overflow:hidden;
	white-space: nowrap;
	text-align: center;
	line-height: 50px;
	text-overflow: inherit;
}
.layers .content div.val{
	position: absolute;
	top:22%;
	left: 13.2%;
	width: 76.4%;
	height: 49.4%;
	text-align: left;
	color: #676767;
	font-size: 20px;
	text-indent: 1em;
	font-family: "楷体";
	line-height: 30px;
}
